<h1>Als getuige</h1>
<p class="lead">
  Tussenkomen is niet evident. Elke situatie is verschillend en u zal zelf (snel) moeten inschatten wat te doen. De belangrijkste stelregel is: probeer de ander te helpen zonder uzelf in gevaar te brengen. Bied hulp als iemand u in vertrouwen neemt of als u getuige bent van seksueel grensoverschrijdend gedrag.
</p>
<p>Enkele nuttige tips:</p>
<ul>
  <li>Probeer de lastigvaller verbaal te stoppen: roep er andere omstanders bij.</li>
  <li>Bel de politie op het noodnummer 101 als de situatie erg onveilig is.</li>
  <li>Onthoud de kenmerken van de lastigvaller.</li>
  <li>Kom alleen fysiek tussenbeide als u voldoende sterk (of met meer personen) bent.</li>
  <li>Vang het slachtoffer op en bied eerste hulp.</li>
  <li>Stel u beschikbaar als getuige.</li>
</ul>
<p>Meer tips en voorbeelden vindt u op <a href="http://www.seksualiteit.be/misbruik/misbruik-en-hulp/getuige-van-misbruik">www.seksualiteit.be</a>.</p>
