<div class="topnav">
	<div *ngIf="!authService.loggedIn() else isAuth">
    <input type="search" title="search" placeholder="Zoeken... " #searchBar/><!--
 --><a (click)="toggleSearchBar()"><i class="fa fa-search" aria-hidden="true"></i></a><!--
 --><a [routerLink]="['/register']"><i class="fa fa-user-plus" aria-hidden="true"></i> Registreren</a><!--
 --><a [routerLink]="['/login']"><i class="fa fa-user" aria-hidden="true"></i> Aanmelden</a>
	</div>
	<ng-template #isAuth>
    <a [routerLink]="['/user']"><i class="fa fa-user" aria-hidden="true"></i> {{name}}</a><!--
 --><a (click)="logout()">Logout</a>
	</ng-template>
</div>


<div class="banner" *ngIf="!disableImg">
	<img class="logo" src="assets/images/Logo_Antwerpen.jpg">
	<div class="background"></div>
	<h1>Stop seksuele intimidatie</h1>
</div>



<div class="botnav">
  <a [routerLink]="['/wat-is-seksuele-intimidatie']" routerLinkActive="active">Wat is seksuele intimidatie?</a>
  <a [routerLink]="['/wat-kan-je-zelf-doen']" routerLinkActive="active">Wat kan je zelf doen?</a>
  <a [routerLink]="['/feiten']" routerLinkActive="active">Feiten</a>
  <a [routerLink]="['/contact']" routerLinkActive="active">Contact</a>
  <a [routerLink]="['/game']" routerLinkActive="active">Game</a>
</div>

<script>


</script>
