<div class="topnav">
	<div *ngIf="!authService.loggedIn() else isAuth">
    <a><i class="fa fa-search" aria-hidden="true"></i></a>
		<a [routerLink]="['/login']"><i class="fa fa-user-plus" aria-hidden="true"></i> Registreren</a>
		<a [routerLink]="['/login']"><i class="fa fa-user" aria-hidden="true"></i> Aanmelden</a>
	</div>
	<ng-template #isAuth>
		<a (click)="logout()">Logout</a>
	</ng-template>
</div>


<div class="banner">
	<img class="logo" src="assets/images/Logo_Antwerpen.jpg">
	<img class="background" src="assets/images/banner.jpg">
	<h1>Stop seksuele intimidatie</h1>
</div>



<div class="botnav">
  <ul>
    <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"><a [routerLink]="['/']">Wat is seksuele intimidatie?</a></li>
    <li routerLinkActive="active"><a [routerLink]="['/wat-kan-je-zelf-doen']">Wat kan je zelf doen?</a></li>
    <li routerLinkActive="active"><a [routerLink]="['/stellingen']">Stellingen</a></li>
    <li routerLinkActive="active"><a [routerLink]="['/contact']">Contact</a></li>
  </ul>
</div>
