<div class="topnav">
	<div *ngIf="!authService.loggedIn() else isAuth">
		<a [routerLink]="['/login']">Inloggen</a>
		<a >Aanmelden</a>
	</div>
	<ng-template #isAuth>
		<a (click)="logout()">Logout</a>
	</ng-template>
</div>


<div class="banner">
	<img class="logo" src="assets/images/Logo_Antwerpen.jpg">
	<img class="background" src="assets/images/banner.jpg">
	<h1>Stop seksuele intimidatie</h1>
</div>



<div class="clearfix botnav">
	<a [routerLink]="['/']">Wat is seksuele intimidatie?</a>
	<a [routerLink]="['/wat-kan-je-zelf-doen']">Wat kan je zelf doen?</a>
	<a [routerLink]="['/stellingen']">Stellingen</a>
	<a [routerLink]="['/contact']">Contact</a>
</div>