span {
  margin-left: 10px;
  font-size: 20px;
}

.fa {
  padding: 20px 20px;
  font-size: 20px;
  width: 20px;
  text-decoration: none;
  margin: 10px 20px 0 0;
}

.fa:last-child {
  margin-right: 0;
}

.fa:hover {
  opacity: 0.7;
}

.fa-envelope-o {
  width: 172px;
  padding: 19px 20px 19px 20px;
  background: #0064B4;
  color: white;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}


.contact {
  margin-right: 100px;
}

.contact-icons {
  display: flex;
  align-items: center;
}

.contact-icons a {
  font-size: 22px;
}

.media-icons {
  display: flex;
  flex-direction: row;
}

.media-icons a {
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 530px) {
    .contact {
      margin-right: 0;
    }

    .fa {
      margin-right: 10px;
    }
}
