app-zelf-doen-body {
	display: flex;
	justify-content: center;
	align-items: baseline;
}

@media only screen and (max-width: 940px) {
	app-zelf-doen-body {
		flex-direction: column;
		align-items: center;
	}
}