<div class="topnav">
  <div>
    <a [routerLink]="['']"><i class="fa fa-home" aria-hidden="true"></i> Home</a><!--
    --><a (click)="logout()">Logout</a>
  </div>
</div>
<header>
  <img src="../../../assets/images/a-logo.svg" alt="a-logo">
  <div class="user-box">
    <h1 class="header-small">Profiel</h1>
    <h2 class="color-red">{{user?.firstname}} {{user?.lastname}}</h2>
  </div>
</header>

<main>
  <div class="sidebar">
    <a>test <i class="fa fa-chevron-right"></i></a>
    <a>test <i class="fa fa-chevron-right"></i></a>
    <a>test <i class="fa fa-chevron-right"></i></a>
  </div>
</main>
