header {
  background-color: #E5E5E6;
  border-top: 1px solid #cccccc;
  min-height: 12rem;
  margin-top: 49px;

  position: relative;
}

.user-box {
  background: #fff;
  margin: 0 auto;
  max-width: 36rem;
  padding: 1.5rem 1.5rem 0;
  position: absolute;
  bottom: -14px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.user-box::before {
  content: "";
  position: absolute;
  bottom: 0;
  border-top: 14px solid rgba(0,0,0,0.2);
  left: -.375rem;
  border-left: 6px solid transparent;
}

.user-box::after {
  content: "";
  position: absolute;
  bottom: 0;
  border-top: 14px solid rgba(0,0,0,0.2);
  right: -.375rem;
  border-right: 6px solid transparent;
}

.header-small {
  color: #7C7070;
  text-transform: uppercase;
  margin: 0;
  font-size: 1.2rem;
}

h2 {
  font-size: 2.48832rem;
  line-height: 1.0971257716em;
  margin-top: .5rem;
}

.color-red {
  color: #CF0039;
}

header img {
  height: 6rem;
}

.sidebar {
	display: flex;
	flex-flow: column;
	margin-right: 20px;
}

.sidebar a {
  width: 300px;
  border-top: 1px solid rgba(127,127,127,0.3);
  margin: 0;
  margin-top: -1px;
  padding: 15px 10px;
  position: relative;
}
.sidebar a:last-child {
  border-bottom: 1px solid rgba(127,127,127,0.3);
}
.sidebar a:hover {
  background: #eee;
  color: #0064B4;
}
.sidebar a.selected {
  font-weight: bold;
  color: #0064B4;
}
.sidebar a i {
  position: absolute;
  right: 10px;
  font-size: .8rem;
  margin: .1rem 0;
  transition: font-size .2s ease-in-out, margin .2s ease-in-out;
}
.sidebar a:hover i {
  font-size: 1rem;
  margin: 0 3px;
}
