<div class="left">
	<p>Wat is seksuele intimidatie?</p>
	<p>Welk gedrag is strafbaar?</p>
	<p>Hoe kan ik aangifte doen?</p>
</div>

<div class="right">
	<h1>Wat is seksuele intimidatie?</h1>
	<h3>Intro van wat is seksuele intimidatie</h3>
	<p>Sample text Sample text Sample text Sample text</p>
	<p>Sample text Sample text Sample text Sample text</p>
	<p>Sample text Sample text Sample text Sample text</p>
	<p>Sample text Sample text Sample text Sample text</p>

	<h1>Welk gedrag is strafbaar?</h1>
	<h3>Intro van welk gedrag is strafbaar</h3>
	<p>Sample text Sample text Sample text Sample text</p>
	<p>Sample text Sample text Sample text Sample text</p>
	<p>Sample text Sample text Sample text Sample text</p>
	<p>Sample text Sample text Sample text Sample text</p>

	<h1>Hoe kan ik aangifte doen?</h1>
	<h3>Intro van hoe kan ik aangifte doen</h3>
	<p>Sample text Sample text Sample text Sample text</p>
	<p>Sample text Sample text Sample text Sample text</p>
	<p>Sample text Sample text Sample text Sample text</p>
	<p>Sample text Sample text Sample text Sample text</p>
</div>