<div class="left">
	<a [routerLink]="['/wat-is-seksuele-intimidatie/wat-is-seksuele-intimidatie']">Wat is seksuele intimidatie?<i class="fa fa-chevron-right"></i></a>
	<a [routerLink]="['/wat-is-seksuele-intimidatie/welk-gedrag-is-strafbaar']">Welk gedrag is strafbaar?<i class="fa fa-chevron-right"></i></a>
	<a [routerLink]="['/wat-is-seksuele-intimidatie/hoe-kan-ik-aangifte-doen']">Hoe kan ik aangifte doen?<i class="fa fa-chevron-right"></i></a>
</div>

<div class="right">
  <app-home-body-intimidatie></app-home-body-intimidatie>
  <app-home-body-strafbaar></app-home-body-strafbaar>
  <app-home-body-aangifte></app-home-body-aangifte>
</div>
