<div class="container">

  <div class="form-container">
    <form [formGroup]="editCodeForm">
      <div class="close" (click)="closeModal()"><span class="fa fa-times"></span></div>
      <div class="form-title"><h2>Code Aanpassen</h2></div>
      <input type="text" id="name" placeholder="Naam voor je code" formControlName="name">
      <input type="text" id="keyCode" placeholder="Key voor je code" formControlName="keyCode">
      <div class="button" (click)="addCode()">Aanpassen</div>
    </form>
  </div>

</div>
