<div class="body">
	<div class="left">
		<p>Als slachtoffer</p>
		<p>Als getuige</p>
		<p>Als pleger</p>
	</div>

	<div class="right">
		<h1>Als slachtoffer</h1>
		<h3>Intro van slachtoffer</h3>
		<p>Sample text Sample text Sample text Sample text</p>
		<p>Sample text Sample text Sample text Sample text</p>
		<p>Sample text Sample text Sample text Sample text</p>
		<p>Sample text Sample text Sample text Sample text</p>

		<h1>Als getuige</h1>
		<h3>Intro van getuige</h3>
		<p>Sample text Sample text Sample text Sample text</p>
		<p>Sample text Sample text Sample text Sample text</p>
		<p>Sample text Sample text Sample text Sample text</p>
		<p>Sample text Sample text Sample text Sample text</p>

		<h1>Als pleger</h1>
		<h3>Intro van pleger</h3>
		<p>Sample text Sample text Sample text Sample text</p>
		<p>Sample text Sample text Sample text Sample text</p>
		<p>Sample text Sample text Sample text Sample text</p>
		<p>Sample text Sample text Sample text Sample text</p>
	</div>
</div>