<div class="subnav">
  <a [routerLink]="['/wat-kan-je-zelf-doen/als-slachtoffer']" routerLinkActive="active">Als slachtoffer<i class="fa fa-chevron-right"></i></a>
	<a [routerLink]="['/wat-kan-je-zelf-doen/als-getuige']" routerLinkActive="active">Als getuige<i class="fa fa-chevron-right"></i></a>
	<a [routerLink]="['/wat-kan-je-zelf-doen/als-pleger']" routerLinkActive="active">Als pleger<i class="fa fa-chevron-right"></i></a>
</div>

<div class="right">
  <router-outlet name='content'></router-outlet>
</div>
