<div class="left">
	<a>Als slachtoffer<i class="fa fa-chevron-right"></i></a>
	<a>Als getuige<i class="fa fa-chevron-right"></i></a>
	<a>Als pleger<i class="fa fa-chevron-right"></i></a>
</div>

<div class="right">
	<h1>Als slachtoffer</h1>
	<p class="lead">
		Hoe reageer je op seksuele intimidatie? Deze Antwerpenaren vertellen wat zij meemaakten. Julia van Sensoa en Evelien en van Jong &amp; Van Zin geven tips bij hun getuigenissen.
	</p>


	<h2>Handtastelijke collega</h2>
	<ul>
		<li>
			“Iets doen waar een meisje zich niet goed bij voelt, is echt niet oké. Vroeger niet en nu niet. Daar mag je altijd iets van zeggen. Het is niet omdat je jong bent dat je niets mag zeggen.”
		</li>
		<li>
			“Geef op een respectvolle manier aan dat je dat niet gepast vindt en stel kordaat je grenzen. ‘’t is misschien niet slecht bedoeld, maar ik vind het echt niet fijn wat je doet.’ En als die collega het zou weglachen, herhaal dan dat je dat gedrag niet op prijs stelt.”
		</li>
		<li>
			“Het is heel begrijpelijk als je zoiets niet rechtstreeks tegen je baas of collega durft te zeggen. Dan is het bijvoorbeeld een goed idee om met een vertrouwenspersoon in het bedrijf te gaan praten.”
		</li>
	</ul>


	<h2>Verpleegster</h2>
	<p>
		“Deze vrouw reageert perfect: ze geeft duidelijk haar grenzen aan en blijft ze daarna ook duidelijk aangeven. Blijf inderdaad ook niet alleen met de vervelende situatie zitten. Vaak zorgt een gesprek met collega’s al voor een oplossing.”
	</p>


	<h2>Groepje mensen</h2>
	<p>
		“Lastig hé. Want als je er iets van zegt, hoe gaan ze dan reageren? Ga je jezelf dan niet in een gevaarlijke situatie brengen? Negeren lijkt hier de beste oplossing. En als het telkens op dezelfde plaats gebeurt, doe dan aangifte bij de lokale politie.”
	</p>
	<p>
		“Er zijn natuurlijk een paar dingen die je zelf in de hand hebt en die kunnen helpen. Ze lossen structureel niets op, maar kunnen je wel een veiliger gevoel geven. Maar onthoud: het is aan de andere om respect te tonen.”
	</p>
	<ul>
		<li>Neem de fiets. Met de fiets ben je sneller en minder kwetsbaar.</li>
		<li>Als je je echt niet veilig voelt, bel dan iemand op.</li>
		<li>Zoek iemand die dezelfde richting uit moet en die je kan vertrouwen om samen te wandelen.</li>
	</ul>


	<h2>Broek of short?</h2>
	<p>
		“Laat één ding duidelijk zijn: om seksuele intimidatie vraag je nooit. Het is nooit jouw schuld, welke kleren je ook aandoet en welke route je ook neemt. Zoals dit meisje zegt: “Het is niet mijn probleem.” Dat is helemaal de juiste ingesteldheid. Jij moet dragen waar je je het best in voelt.”
	</p>
	<p>
		“Natuurlijk, als je verschillende wegen kan nemen, kies dan de meest veilige. Volg je logisch verstand.”
	</p>


	<h2>Achtervolgd en nagefloten</h2>
	<p>
		“De reactie van deze vrouw is heel normaal. Mensen die heel erg schrikken, gaan soms onverwacht fel reageren, zoals spugen op een ander. Hier is het positief uitgedraaid, maar het kan ook een averechts effect hebben.”
	</p>
	<p>
		“Op het einde zegt deze vrouw: ‘ik had er misschien sneller iets van moeten zeggen. Dan was het misschien niet gebeurd.’ Let op dat je de schuld niet bij jezelf legt. Het is nooit jouw fout. En het is niet omdat je er eerder niets van gezegd hebt, dat je geen signaal hebt gegeven dat je het niet apprecieert. Negeren is namelijk ook een duidelijk signaal.”
	</p>
	<p>
		“Natuurlijk had ze er iets van kunnen zeggen, maar ben je mondig genoeg op je twaalfde? Ze had er ook met iemand over kunnen praten om te zien wat ze er tegen kon doen of bij omstaanders horen of zij er ook last van hadden.”
	</p>


	<h2>Tinder</h2>
	<p>
		“Tinder en andere datingapps zijn voor sommige mensen wel een fijne manier om nieuwe mensen te leren kennen. Jammer dat het soms misloopt. Wat je in zo’n geval het beste doet? Blok het af. Zeg resoluut: dit apprecieer ik echt niet. En blokkeer of verwijder de persoon. Als verschillende personen dit doen, zal de boodschap na een tijdje misschien wel binnenkomen."
	</p>
	<p>
		“Het voordeel aan zo’n app is dat je op een veilige afstand zit en het dus makkelijker is om duidelijk te maken dat je het niet apprecieert.”
	</p>


	<h2>Op een feestje</h2>
	<p>
		“Veel jongeren krijgen met seksuele intimidatie te maken tijdens het uitgaan. Blijkbaar gaan mensen ervan uit dat de grenzen dan wat vervagen. Onzin, grenzen vervagen niet bij feestjes en/of alcohol. Het is niet aan iemand anders om te bepalen waar jouw grenzen liggen. Als je je ergens niet goed bij voelt, schaam je er dan niet voor om iets te zeggen.”
	</p>


	<h2>Exhibitionist</h2>
	<p>
		“Iemand die in het openbaar zijn geslachtsdelen laat zien, dat is geen seksuele intimidatie meer, maar zwaar seksueel grensoverschrijdend gedrag. Bij situaties die zo duidelijk fout zijn, mag je absoluut niet twijfelen om naar de politie te stappen.”
	</p>


	<h2>Meer info</h2>
	<p>
		Wat u kan doen hangt af van de situatie. Maar denk altijd aan uw eigen veiligheid en twijfel niet om hulp in te roepen van omstanders of de politie te (laten) bellen op het noodnummer 101 als de situatie dreigend of erg onveilig wordt.
	</p>
	<p>
		Voor niet-dringende hulp of vragen over geweld kan u bellen naar de gratis hulplijn <a href="https://1712.be/">1712</a> of de Blauwe Lijn op het nummer 0800 123 12. U kan ook <a href="https://www.politieantwerpen.be/afspraak">online een afspraak maken met Politie Antwerpen</a>.
	</p>
	<p>Nog vragen over wat wel en niet kan? Kijk dan eens op deze links.​</p>
	<ul>
		<li><a href="https://jongerengids.be/vraag/een-vriend-vriendin-vraagt-mij-om-iets-te-doen-wat-ik-niet-wil-wat-doe-ik">Wat te zeggen tegen vrienden die u iets vragen dat u niet wil doen</a>?</li>
		<li>
			Bij <a href="http://www.tele-onthaal.be/">Tele-Onthaal</a> kan u anoniem uw verhaal kwijt als u het moeilijk hebt, op het nummer 106 of via chat. Jongeren kunnen ook terecht bij het Jongerenadviescentra (JAC) voor <a href="http://www.jac.be/">een gesprek, afspraak of chat</a>.
		</li>
	</ul>





	<h1>Als getuige</h1>
	<p class="lead">
		Tussenkomen is niet evident. Elke situatie is verschillend en u zal zelf (snel) moeten inschatten wat te doen. De belangrijkste stelregel is: probeer de ander te helpen zonder uzelf in gevaar te brengen. Bied hulp als iemand u in vertrouwen neemt of als u getuige bent van seksueel grensoverschrijdend gedrag.
	</p>
	<p>Enkele nuttige tips:</p>
	<ul>
		<li>Probeer de lastigvaller verbaal te stoppen: roep er andere omstanders bij.</li>
	    <li><li>Bel de politie op het noodnummer 101 als de situatie erg onveilig is.</li>
	    <li>Onthoud de kenmerken van de lastigvaller.</li>
	    <li>Kom alleen fysiek tussenbeide als u voldoende sterk (of met meer personen) bent.</li>
	    <li>Vang het slachtoffer op en bied eerste hulp.</li>
	    <li>Stel u beschikbaar als getuige.</li>
	</ul>
	<p>Meer tips en voorbeelden vindt u op <a href="http://www.seksualiteit.be/misbruik/misbruik-en-hulp/getuige-van-misbruik">www.seksualiteit.be</a>.</p>





	<h1>Als pleger</h1>
	<p class="lead">Bent u zélf over de grens gegaan, dan kan u begeleiding zoeken.</p>
	<p>
		De meeste vrouwen worden minstens één keer in hun leven seksueel lastiggevallen. Onthoud vooral dat seksuele intimidatie altijd ongewenst, onaanvaardbaar en in bepaalde gevallen zelfs strafbaar is.
	</p>
	<p>
		Bent u toch te ver gegaan? Denk dan eens na over hoe u uw ongewenst gedrag kan bijsturen.Of hebt u vragen over wat wel en niet kan? ​
	</p>
	<ul>
		<li>
			Bij <a href="http://www.tele-onthaal.be/">Tele-Onthaal</a> kan u anoniem uw verhaal kwijt als u het moeilijk hebt, op het nummer 106 of via chat. Jongeren kunnen ook terecht bij het Jongerenadviescentra (JAC) voor <a href="http://www.jac.be/">een gesprek, afspraak of chat</a>.
		</li>
	</ul>

</div>
