<app-header></app-header>
<div id="portal">
  <a [routerLink]="['/wat-is-seksuele-intimidatie']">
    <div class="contentBox">
    <p>Wat is seksuele intimidatie</p>
  </div>
  </a>
  <a [routerLink]="['/wat-kan-je-zelf-doen']">
    <div class="contentBox">
    <p>Wat kan je zelf doen</p>
  </div>
  </a>
  <a [routerLink]="['/feiten']">
    <div class="contentBox">
    <p>Feiten over seksuele intimidatie</p>
  </div>
  </a>
  <a [routerLink]="['/contact']">
    <div class="contentBox">
    <p>Contact</p>
  </div>
  </a>
  <a [routerLink]="['/game']">
    <div class="contentBox">
    <p>Speel de game</p>
  </div>
  </a>
</div>
<app-footer></app-footer>
