.button {
    font-size: 1rem;
    line-height: 1.4em;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: .5rem;
    padding-bottom: .5rem;
    transition: background .25s ease-out;
    -moz-transition: background .25s ease-out;
    -webkit-transition: background .25s ease-out;
    -o-transition: background .25s ease-out;
    -ms-transistion: background .25s ease-out;
    background: #0064B4;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    border: 0;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    min-height: 3rem;
    width: 100px;
    margin-bottom: .75rem;
    margin-top: 0;
    outline: none;
    overflow: hidden;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    font-family: "Sun Regular","Helvetica Neue",Helvetica,Arial,Georgia,Sans-serif;
    position: relative;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

.button span {
  margin-right: 5px;
}

.logo {
  margin: 0;
}

.login-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
  margin-top: 48px;
  border-top: 1px solid rgba(127,127,127,0.3);
}

.login-logo {
  width: 14%;
}

.login-info {
  width: 21%;
  margin-right: 2em;
}

.login-form {
  width: 65%;
  min-height: calc(100vh - 9.10rem - 50px);
  display: flex;
  flex-direction: column;
  background: #F3F3F5;
  padding: 4.55rem 1.5rem;
}

form {
  display: flex;
  flex-direction: column;
}

form a {
  font-size: 14px;
  margin-bottom: 2em;
}

h2 {
  margin-top: 0;
}

input {
  width: 75%;
  height: 30px;
  padding: .5rem 1rem;
  margin-bottom: .5em;
}

@-moz-document url-prefix() {
  .background {
    margin-top: -82px !important;
  }

  .topnav {
  	top: 13px !important;
  }
}

.topnav {
	position: absolute;
	right: 0;
	top: 15px;
}

.topnav a {
	text-decoration: none;
	color: #fff;
	padding: 15px 20px;
  background: #0064B4;
  border-right: 4px solid rgba(0,0,0,0.2);
  transition: background .25s ease-out;
  font-weight: bold;
}

.topnav a:last-child {
  border-right-width: 2px;
}

.topnav a:hover {
  background: #003f72;
}

.lead a {
  margin-right: 0.75rem;
}

.topborder {
  width: 78%;
  border-top: 1px solid rgba(127,127,127,0.3);
  padding-top: 10px;
  margin-top: 50px;
}


@media only screen and (max-width: 940px) {
    .login-info {
      width: 50%;
      margin-left: 60px;
    }

    .login-container {
      flex-direction: column;
    }

    .login-form {
      width: 100%;
      padding: 1.5rem 0 0 0;
    }

    .login-form p {
      margin-left: 60px;
    }

    form {
      margin-left: 60px;
    }
}

@media only screen and (max-width: 640px) {
    .login-info {
      width: 70%;
    }
}