.modal {
  min-height: 75px;
  width: 150px;
  background-color: #fff;
  z-index: 2;
  opacity: 0;
  padding: 10px;
  -webkit-box-shadow: 0 0 35px 10px rgba(0,0,0,0.75);
  -moz-box-shadow: 0 0 35px 10px rgba(0,0,0,0.75);
  box-shadow: 0 0 35px 10px rgba(0,0,0,0.75);

  position: absolute;
  left: 50%;
  top: 50%;
  transform: scale(0);
  transition: all 0.5s;
  transform-origin: center center;
}

.center {
  transform: translateX(-50%) translateY(-50%);
}

.question {
  padding: 5px 0;
  cursor: pointer;
}

.question:hover {
  color: #4d90fe;
}

.question:not(:last-child) {
  border-bottom: 1px solid #000;
}
