<div>
	<h1>Feit 1</h1>
	<p>Een dubbelzinnige opmerking, een hand op je dij, een pikante foto in je mailbox, ... Voor de een is het over de grens, voor de ander niet.</p>
</div>

<div>
	<h1>Feit 2</h1>
	<p>Het percentage kinderen dat werd gemeld voor seksueel misbruik bij een Vertrouwenscentrum Kindermishandeling bedroeg in 2016 15% van het totaal aantal gemelde kinderen (1.466 meldingen).</p>
</div>

<div>
	<h1>Feit 3</h1>
  <p>Eén op de vier meisjes en één op de zes jongens krijgt voor het achttiende levensjaar te maken met incest of seksuele intimidatie.</p>
  <!-- http://www.projectspeaknow.nl/cijfersenfeiten/ -->
</div>




<div>
	<h1>Feit 4</h1>
  <p>Seksueel grensoverschrijdend gedrag beantwoordt niet aan de kenmerken van gezond seksueel gedrag.</p>
  <!-- https://www.seksualiteit.be/misbruik/misbruik-herkennen/seksueel-grensoverschrijdend-gedrag -->
</div>

<!-- <div>
	<h1>Feit 5</h1>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
</div>

<div>
	<h1>Feit 6</h1>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
</div> -->
