<h1>Feiten over Seksuele Intimidatie</h1>
<div>
	<h2>Waar ligt de grens?</h2>
	<p>Een dubbelzinnige opmerking, een hand op je dij, een pikante foto in je mailbox, ... Voor de één is het over de grens, voor de ander niet.</p>
</div>

<div>
	<h2>Recente meldingen</h2>
	<p>Het percentage seksueel misbruik bij kinderen dat werd gemeld aan Vertrouwenscentrum Kindermishandeling bedroeg in 2016 15% van het totaal aantal gemelde kindermishandelingen. (1.466 meldingen)</p>
</div>

<div>
	<h2>Seksuele intimidatie bij minderjarigen</h2>
  <p>Eén op de vier meisjes en één op de zes jongens krijgt voor het achttiende levensjaar te maken met incest of seksuele intimidatie.</p>
  <!-- http://www.projectspeaknow.nl/cijfersenfeiten/ -->
</div>




<div>
	<h2>Gezond gedrag</h2>
  <p>Seksueel grensoverschrijdend gedrag beantwoordt niet aan de kenmerken van gezond seksueel gedrag.</p>
  <!-- https://www.seksualiteit.be/misbruik/misbruik-herkennen/seksueel-grensoverschrijdend-gedrag -->
</div>

<!-- <div>
	<h1>Feit 5</h1>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
</div>

<div>
	<h1>Feit 6</h1>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
</div> -->
