<h1>Als pleger</h1>
<p class="lead">Bent u zélf over de grens gegaan, dan kan u begeleiding zoeken.</p>
<p>
  De meeste vrouwen worden minstens één keer in hun leven seksueel lastiggevallen. Onthoud vooral dat seksuele intimidatie altijd ongewenst, onaanvaardbaar en in bepaalde gevallen zelfs strafbaar is.
</p>
<p>
  Bent u toch te ver gegaan? Denk dan eens na over hoe u uw ongewenst gedrag kan bijsturen.Of hebt u vragen over wat wel en niet kan? ​
</p>
<ul>
  <li>
    Bij <a href="http://www.tele-onthaal.be/">Tele-Onthaal</a> kan u anoniem uw verhaal kwijt als u het moeilijk hebt, op het nummer 106 of via chat. Jongeren kunnen ook terecht bij het Jongerenadviescentra (JAC) voor <a href="http://www.jac.be/">een gesprek, afspraak of chat</a>.
  </li>
</ul>
