<div id="userProfile">
  <div ngClass="userInfo">
    <div ngClass="oneThird">Naam</div>
    <div ngClass="oneThird bold">{{user?.firstname}} {{user?.lastname}}</div>
  </div>
  <div ngClass="userInfo">
    <div ngClass="oneThird">Email</div>
    <div ngClass="oneThird bold">{{user?.username}}</div>
  </div>
  <div ngClass="userInfo">
    <div ngClass="oneThird">School</div>
    <div ngClass="oneThird bold">{{user?.school}}</div>
  </div>
<!--<div ngClass="userInfo">
    <div ngClass="oneThird">Telefoon nr.</div>
  </div>
  <div ngClass="userInfo">
    <div ngClass="oneThird">Adres</div>
  </div>-->
</div>
