<div>
	<h1>​Jong &amp; Van Zin</h1>
	<p>Organisatie die zorgt voor informatie, participatie en vorming voor kinderen, jongeren en hun begeleiders. Ze hebben een ervaringsgericht vormingsaanbod.</p>
	<a href="http://www.jongenvanzin.be/">www.jongenvanzin.be</a>
</div>

<div>
	<h1>Sensoa</h1>
	<p>​Sensoa helpt om te praten over relaties, seksualiteit, grensoverschrijdend gedrag, seksuele diversiteit enzovoort. Ze bieden vormingsmateriaal aan en organiseren interessante opleidingen </p>
	<a class="sensoa" href="http://www.sensoa.be/">www.sensoa.be</a>
	<a class="sensoa" href="http://www.seksuelevorming.be/">www.seksuelevorming.be</a>
</div>

<div>
	<h1>Ella</h1>
	<p>Expertise- en kenniscentrum voor gender en etniciteit. Het zet zich in voor bevordering van het emancipatie- en participatieproces van meisjes en vrouwen uit etnisch-culturele minderheidsgroepen in Vlaanderen. Ella biedt info en organiseert vormingen voor jongeren en intermediairs.</p>
	<a href="http://www.ellavzw.be/">www.ellavzw.be</a>
</div>

<div>
	<h1>RoSa</h1>
	<p>RoSa vzw is een expertisecentrum voor gelijke kansen m/v, feminisme en gender. RoSa biedt ook workshops op maat aan voor iedereen die meer wil weten over deze thema’s.</p>
	<a href="http://www.rosavzw.be/">www.rosavzw.be</a>
</div>

<div>
	<h1>Jongerenadviescentrum (JAC)</h1>
	<p>Jongeren kunnen met al hun vragen terecht bij de Jongerenadviescentra (JAC) voor <a href="http://www.jac.be/onthaal">een gesprek, afspraak of chat</a>.</p>
	<a href="http://www.jac.be/">www.jac.be</a>
</div>

<div>
	<h1>Cavaria</h1>
	<p>Koepelorganisatie van Vlaamse en Brusselse holebigroepen. Zij geeft vormingen in het onderwijs om het holebi- en transgenderthema bespreekbaar te maken in de klas en binnen de school.</p>
	<a href="http://www.cavaria.be/">www.cavaria.be</a>
</div>