div {
	margin: 0 100px 20px 100px;
	width: 45%;
}

p {
	font-size: 1.25rem;
	margin-left: 10px;
}

.sensoa {
	display: flex;
	flex-flow: column;
}


@media only screen and (max-width: 940px) {
    div {
    	width: 100%;
    	margin-left: 20px;
    	margin-right: 10px;
    }

    p {
    	font-size: 1rem;
    }
}

@media only screen and (max-width: 530px) {
    h1 {
    	word-wrap: break-word;
    	hyphens: auto;
    }

    p {
    	margin-left: 5px;
    }
}