<app-user-header></app-user-header>
<app-add-code-modal (close)="closeModal()" *ngIf="isAddingCode"></app-add-code-modal>

<table class="codes" *ngIf="codes.length > 0 else noCodesTable">
  <thead>
    <th>Name</th>
    <th>Key code</th>
    <th>Delete</th>
  </thead>
  <tbody>
    <tr *ngFor="let code of codes">
      <td>{{code.name}}</td>
      <td>{{code.keyCode}}</td>
      <td class="delete-row" (click)="deleteCode(code.id)"><span class="fa fa-times"></span></td>
    </tr>
  </tbody>
  <div class="add-code" (click)="openModal()">Code toevoegen</div>
</table>

<ng-template #noCodesTable>
  <table class="no-codes">
    <thead>
      <th>Codes</th>
    </thead>
    <tbody>
      <tr>
        <td>Geen codes gevonden</td>
      </tr>
      <tr>
        <td><div class="add-code" (click)="openModal()">Code toevoegen?</div></td>
      </tr>
    </tbody>
  </table>
</ng-template>
