<app-user-header user="user"></app-user-header>
<app-add-code-modal (close)="closeModal()" *ngIf="isAddingCode"></app-add-code-modal>

<main>
  <div class="sidebar" [ngStyle]="{'z-index': isAddingCode ? '-1' : '0'}">
    <a [ngClass]="page == 'details' ? 'active' : ''" (click)="setPage('details')">Gegevens <i class="fa fa-chevron-right"></i></a>
    <a [ngClass]="page == 'codes' ? 'active' : ''" (click)="setPage('codes')">Codes <i class="fa fa-chevron-right"></i></a>
  </div>

  <div class="feed-container">
    <app-user-details *ngIf="page == 'details'"></app-user-details>

    <table class="codes" *ngIf="page == 'codes' && codes.length > 0">
      <thead>
        <th>Naam</th>
        <th>Code</th>
        <th class="delete-row">Verwijderen</th>
      </thead>
      <tbody class="codes">
        <tr *ngFor="let code of codes">
          <td>{{code.name}}</td>
          <td>{{code.keyCode}}</td>
          <td class="delete-row" (click)="deleteCode(code.id)"><span class="fa fa-times"></span></td>
        </tr>
      </tbody>
      <div class="add-code" (click)="openModal()">Code toevoegen</div>
    </table>

      <table class="no-codes" *ngIf="page == 'codes' && codes.length < 1">
        <thead>
          <th>Codes</th>
        </thead>
        <tbody>
          <tr>
            <td>Geen codes gevonden</td>
          </tr>
          <tr>
            <td><div class="add-code" (click)="openModal()">Code toevoegen?</div></td>
          </tr>
        </tbody>
      </table>
  </div>
</main>
