/* You can add global styles to this file, and also import other style files */
body {
	font-family: "Arial";
	margin: 0;
}

h1 {
	color: #CF0039;
	font-size: 50px;
}


p {
	font-size: 18px;
}


app-footer {
	display: flex;
	justify-content: center;
	align-items: baseline;
	background-color: #202020;
	margin-top: 50px;
	padding: 20px 0 30px 0;
	color: #fff;
}